/* line 16, ../sass-hidden/ie.sass */
.ie6 legend, .ie7 legend {
  margin-left: -7px;
}

/* line 21, ../sass-hidden/ie.sass */
.ie7 input[type="checkbox"] {
  vertical-align: baseline;
}

/* line 23, ../sass-hidden/ie.sass */
.ie6 input {
  vertical-align: text-bottom;
}

/* line 28, ../sass-hidden/ie.sass */
button {
  width: auto;
  overflow: visible;
}

/* line 34, ../sass-hidden/ie.sass */
.ie7 img {
  -ms-interpolation-mode: bicubic;
}
