/* Reset --------------------------------------------------------------*/
/* line 14, ../../../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.10.5/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, font, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-weight: inherit;
  font-style: inherit;
  font-size: 100%;
  font-family: inherit;
  vertical-align: baseline;
}

/* line 17, ../../../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.10.5/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
body {
  line-height: 1;
  color: black;
  background: white;
}

/* line 19, ../../../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.10.5/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 21, ../../../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.10.5/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: separate;
  border-spacing: 0;
  vertical-align: middle;
}

/* line 23, ../../../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.10.5/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 25, ../../../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.10.5/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: "" "";
}
/* line 96, ../../../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.10.5/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
}

/* line 27, ../../../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.10.5/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* HTML5 Reset --------------------------------------------------------------*/
/* line 107, ../../../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.10.5/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
article, aside, canvas, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary {
  display: block;
}

/* Typography -------------------------------------------------------------- */
/* The following classes are for use with @extend. */
/* line 16, ../sass-hidden/_defaults.sass */
html {
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
}

/* line 20, ../sass-hidden/_defaults.sass */
.serif, body {
  font-family: Cambria, Georgia, serif;
}

/* line 23, ../sass-hidden/_defaults.sass */
.sans {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}

/* line 26, ../sass-hidden/_defaults.sass */
.mono, pre, code, tt {
  font-family: "Andale Mono WT", "Andale Mono", "Lucida Console", "Lucida Sans Typewriter", "DejaVu Sans Mono", "Bitstream Vera Sans Mono", "Liberation Mono", "Nimbus Mono L", Monaco, Courier, monospace, sans-serif;
}

/* line 29, ../sass-hidden/_defaults.sass */
.caps, .allcaps, h1, h2, caption, .smallcaps, h4 {
  letter-spacing: 0.1em;
}

/* line 32, ../sass-hidden/_defaults.sass */
.allcaps, h1, h2, caption {
  text-transform: uppercase;
}

/* line 36, ../sass-hidden/_defaults.sass */
.smallcaps, h4 {
  font-variant: small-caps;
}

/* Body -------------------------------------------------------------- */
/* line 42, ../sass-hidden/_defaults.sass */
body {
  color: #4c4c4c;
}

/* Selected Text -------------------------------------------------------------- */
/* -moz- must be declared separately */
/* line 55, ../sass-hidden/_defaults.sass */
::-moz-selection {
  color: white;
  background: #005498;
  text-shadow: none;
}

/* line 60, ../sass-hidden/_defaults.sass */
::selection {
  color: white;
  background: #005498;
  text-shadow: none;
}

/* Links -------------------------------------------------------------- */
/* line 68, ../sass-hidden/_defaults.sass */
a:link, a:visited {
  color: #005498;
}
/* line 70, ../sass-hidden/_defaults.sass */
a:link, a:visited, a:hover, a:active {
  outline: none;
}
/* line 72, ../sass-hidden/_defaults.sass */
a:focus, a:hover, a:active {
  color: #984400;
  text-decoration: none;
}
/* line 75, ../sass-hidden/_defaults.sass */
a:focus {
  outline: thin dotted;
}

/* Headings -------------------------------------------------------------- */
/* line 80, ../sass-hidden/_defaults.sass */
h2, h3, h4, h5, h6 {
  margin-bottom: 1.5em;
}

/* line 83, ../sass-hidden/_defaults.sass */
h1 {
  font-size: 1.313em;
  line-height: 1.143em;
  margin-bottom: 1.143em;
}

/* line 90, ../sass-hidden/_defaults.sass */
h3 {
  font-weight: bold;
}

/* line 93, ../sass-hidden/_defaults.sass */
h4 {
  text-transform: lowercase;
}

/* line 97, ../sass-hidden/_defaults.sass */
h5, h6 {
  font-style: italic;
}

/* Inline -------------------------------------------------------------- */
/* line 102, ../sass-hidden/_defaults.sass */
cite, em, dfn, address, i {
  font-style: italic;
}

/* line 105, ../sass-hidden/_defaults.sass */
strong, dfn, b {
  font-weight: bold;
}

/* line 108, ../sass-hidden/_defaults.sass */
sup, sub {
  font-size: smaller;
  line-height: 0;
}

/* line 112, ../sass-hidden/_defaults.sass */
sup {
  vertical-align: super;
}

/* line 115, ../sass-hidden/_defaults.sass */
sub {
  vertical-align: sub;
}

/* line 118, ../sass-hidden/_defaults.sass */
abbr, acronym {
  border-bottom: 1px dotted;
  cursor: help;
}

/* line 122, ../sass-hidden/_defaults.sass */
ins {
  text-decoration: underline;
}

/* line 125, ../sass-hidden/_defaults.sass */
del {
  text-decoration: line-through;
}

/* line 128, ../sass-hidden/_defaults.sass */
mark {
  background: #ffff99;
  background-color: rgba(255, 255, 0, 0.5);
  text-shadow: none;
}

/* line 133, ../sass-hidden/_defaults.sass */
small {
  font-size: 0.75em;
  line-height: 2em;
}

/* line 136, ../sass-hidden/_defaults.sass */
q {
  font-style: italic;
}
/* line 138, ../sass-hidden/_defaults.sass */
q em {
  font-style: normal;
}

/* Block -------------------------------------------------------------- */
/* line 146, ../sass-hidden/_defaults.sass */
p {
  margin-bottom: 1.5em;
}

/* line 149, ../sass-hidden/_defaults.sass */
pre {
  margin: 1.5em;
  white-space: pre;
  white-space: pre-wrap;
  white-space: pre-line;
  word-wrap: break-word;
}

/* line 156, ../sass-hidden/_defaults.sass */
blockquote {
  margin: 1.5em;
  font-style: italic;
}

/* Replaced -------------------------------------------------------------- */
/* line 162, ../sass-hidden/_defaults.sass */
img {
  vertical-align: text-bottom;
  max-width: 100%;
  -ms-interpolation-mode: bicubic;
}

/* Lists -------------------------------------------------------------- */
/* line 169, ../sass-hidden/_defaults.sass */
ol, ul, dl {
  margin-bottom: 1.5em;
  margin-left: 1.5em;
}

/* line 173, ../sass-hidden/_defaults.sass */
ol {
  list-style: decimal;
}

/* line 176, ../sass-hidden/_defaults.sass */
ul {
  list-style: disc;
}
/* line 178, ../sass-hidden/_defaults.sass */
li ul {
  list-style-type: circle;
}

/* line 181, ../sass-hidden/_defaults.sass */
dt {
  margin-top: 1.5em;
  font-style: italic;
}

/* line 185, ../sass-hidden/_defaults.sass */
dd {
  padding-left: 1.5em;
}

/* Tables -------------------------------------------------------------- */
/* tables still need 'cellspacing="0"' in the markup */
/* line 191, ../sass-hidden/_defaults.sass */
table {
  margin-bottom: 1.5em;
  width: 100%;
  border-collapse: separate;
  border-spacing: 0;
}

/* line 197, ../sass-hidden/_defaults.sass */
table, td, th {
  vertical-align: top;
}

/* line 200, ../sass-hidden/_defaults.sass */
th, thead th {
  font-weight: bold;
}

/* line 203, ../sass-hidden/_defaults.sass */
th, td, caption {
  padding: 0.75em;
  text-align: left;
  font-weight: normal;
}

/* line 208, ../sass-hidden/_defaults.sass */
table, th {
  border-bottom-style: solid;
  border-bottom-width: 0.063em;
  padding-bottom: 0.688em;
}

/* line 211, ../sass-hidden/_defaults.sass */
tfoot {
  font-size: 0.875em;
  line-height: 1.714em;
}

/* Forms -------------------------------------------------------------- */
/* line 219, ../sass-hidden/_defaults.sass */
fieldset {
  margin-bottom: 1.5em;
  border-style: solid;
  border-width: 0.063em;
  padding: 1.438em;
}

/* line 223, ../sass-hidden/_defaults.sass */
legend {
  font-size: 1.125em;
  line-height: 1.333em;
  font-weight: bold;
}

/* line 227, ../sass-hidden/_defaults.sass */
input[type="radio"], input[type="checkbox"] {
  vertical-align: baseline;
}

/* line 230, ../sass-hidden/_defaults.sass */
label, input[type=button], input[type=submit], button {
  cursor: pointer;
}

/* line 233, ../sass-hidden/_defaults.sass */
label {
  font-weight: bold;
}

/* line 238, ../sass-hidden/_defaults.sass */
.textinput, textarea, input[type=text], input[type=password], input[type=email], input[type=url], input[type=tel], input[type=date], input[type=datetime], input[type=datetime-local], input[type=month], input[type=week], input[type=time], input[type=number], input[type=range], input[type=search], input[type=color] {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 0.875em;
  line-height: 1.714em;
  border-style: solid;
  border-width: 0.071em;
  padding: 0.357em;
  margin-bottom: 0.75em;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -ms-box-sizing: border-box;
  box-sizing: border-box;
  width: 100%;
  margin-top: 0;
  border-color: #4c4c4c;
  height: 2.571em;
}

/* line 249, ../sass-hidden/_defaults.sass */
textarea {
  height: 11.143em;
  vertical-align: text-bottom;
}

/* line 260, ../sass-hidden/_defaults.sass */
input[type=search] {
  -webkit-appearance: none;
}
/* line 262, ../sass-hidden/_defaults.sass */
input[type=search]::-webkit-search-decoration {
  display: none;
}

/* line 265, ../sass-hidden/_defaults.sass */
button {
  width: auto;
  overflow: visible;
}

/* Print Defaults -------------------------------------------------------------- */
/* line 13, ../sass-hidden/print.sass */
nav {
  display: none;
}

/* line 16, ../sass-hidden/print.sass */
* {
  background: transparent !important;
  color: #444444 !important;
  float: none !important;
  text-shadow: none !important;
}

/* line 22, ../sass-hidden/print.sass */
body {
  font-family: Cambria, Georgia, serif;
  font-size: 12pt;
  background: white;
  color: black;
}

/* line 29, ../sass-hidden/print.sass */
a:link, a:visited {
  color: #444444 !important;
  text-decoration: underline;
}
/* line 32, ../sass-hidden/print.sass */
a:after {
  content: " (" attr(href) ") ";
  font-size: smaller;
}

/* line 36, ../sass-hidden/print.sass */
abbr:after {
  content: " (" attr(title) ")";
  font-size: smaller;
}

/* line 40, ../sass-hidden/print.sass */
pre, blockquote, img {
  page-break-inside: avoid;
}

@page {
  margin: 0.5cm;
}

/* line 46, ../sass-hidden/print.sass */
p, h2, h3 {
  orphans: 3;
  widows: 3;
}

/* line 50, ../sass-hidden/print.sass */
h2, h3 {
  page-break-after: avoid;
}
